@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

header{
    background-color: #614EA6;        
}

#menu li a{
    transition: 0.3s ease-in;
}

#menu li a:hover {
    text-decoration: none;
    color: #F21667 !important;    
}

#btn-filtro{
    color: #614EA6;  
    cursor: pointer;
    transition: 0.3s ease-in;
}

#btn-filtro:hover{
    color: #F21667;
}

.form-check-label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #614EA6;
}

#div-filtros{
    display: none;
}

