@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

header{
    background-color: #614EA6;        
}

#menu li a{
    transition: 0.3s ease-in;
}

#menu li a:hover {
    text-decoration: none;
    color: #F21667 !important;    
}

.botoes-pesquisa{
    color: #614EA6;  
    cursor: pointer;
    transition: 0.3s ease-in;
}

.botoes-pesquisa:hover{
    color: #F21667;
}

.form-check-label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #614EA6;
}

#div-filtros{
    display: none;
}

.rodape-card{
    color: #614EA6;
}

.btn-detalhes{
    background-color: #614EA6;
    color: #fff;    
}

.btn-detalhes:hover{
    background-color: #F21667;
    color: #fff;
}

.card-text{
    font-family: 'Roboto', sans-serif;
    color: #333;
}

footer{
    background-color: #614EA6;
    color: #fff;    
}


.voltar-topo {
    position: fixed;
    bottom: 10%;
    right: 10px;
}

.voltar-topo i{
    color: #614EA6;
    opacity: .5;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.voltar-topo i:hover{
    opacity: 1;
}
