.form-recuperar-senha{
    max-width: 650px;
}

.form-recuperar-senha button{
    background-color: #614EA6;
    color: #fff;    
}

.form-recuperar-senha button:hover{
    background-color: #F21667;
    color: #fff;    
}