.img-banner{
    width: 100%;
    min-height: 300px;
    max-height: 350px;
}

.visualizacoes, .titulo{
    color: #614ea6;
}

.box-info{
    background-color: #614ea6;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease-in-out;
}

.box-info:hover{
    background-color: #f21667;
}

.btn-editar{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #f21667;
    transition: .3s ease-in;
}

.btn-editar:hover{
    color: #614ea6;
}